<template>
    <section class="char" v-if="character">
        <div class="char__wrap">
            <transition name="vue-anim">
                <router-view/>
            </transition>
            <div class="char__nav">
                <router-link class="char__nav__item" :to="'/char/'+ character.id +'/main'">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="50pt"
                         height="50pt" viewBox="0 0 50 50" version="1.1">
                        <g id="surface20924">
                            <path style=" stroke:none;fill-rule:nonzero;fill-opacity:1;"
                                  d="M 30.933594 32.527344 C 30.785156 30.914062 30.84375 29.789062 30.84375 28.316406 C 31.574219 27.933594 32.882812 25.492188 33.101562 23.429688 C 33.675781 23.382812 34.582031 22.824219 34.847656 20.613281 C 34.988281 19.425781 34.421875 18.757812 34.074219 18.546875 C 35.007812 15.738281 36.949219 7.046875 30.488281 6.148438 C 29.820312 4.980469 28.117188 4.390625 25.90625 4.390625 C 17.050781 4.554688 15.984375 11.078125 17.925781 18.546875 C 17.578125 18.757812 17.011719 19.425781 17.152344 20.613281 C 17.421875 22.824219 18.324219 23.382812 18.898438 23.429688 C 19.117188 25.492188 20.476562 27.933594 21.210938 28.316406 C 21.210938 29.789062 21.265625 30.914062 21.117188 32.527344 C 19.367188 37.238281 7.546875 35.914062 7 45 L 45 45 C 44.453125 35.914062 32.683594 37.238281 30.933594 32.527344 Z M 30.933594 32.527344 "/>
                        </g>
                    </svg>
                </router-link>
                <router-link class="char__nav__item" :to="'/char/'+ character.id +'/extraStats'">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30pt"
                         height="30pt" viewBox="0 0 30 30" version="1.1">
                        <g id="surface19651">
                            <path style=" stroke:none;fill-rule:nonzero;fill-opacity:1;"
                                  d="M 10 4 C 6.804688 4 4.957031 6.492188 4.957031 9.5 C 4.957031 10.511719 5.441406 11.527344 5.441406 11.527344 C 5.246094 11.640625 4.929688 12 5.007812 12.628906 C 5.15625 13.804688 5.667969 14.101562 5.992188 14.125 C 6.117188 15.226562 7.585938 16.796875 8 17 L 8 18.667969 C 7.082031 21.417969 1 20 1 26 L 19 26 C 19 20 12.917969 21.417969 12 18.667969 L 12 17 C 12.414062 16.796875 13.882812 15.226562 14.007812 14.125 C 14.332031 14.101562 14.839844 13.804688 14.992188 12.628906 C 15.074219 11.996094 14.753906 11.640625 14.558594 11.527344 C 14.558594 11.527344 15.042969 10.609375 15.042969 9.5 C 15.042969 7.273438 14.167969 5.375 12.292969 5.375 C 12.292969 5.375 11.949219 4 10 4 Z M 16.847656 11 C 16.828125 11.085938 16.8125 11.183594 16.792969 11.261719 C 16.972656 11.71875 17.054688 12.265625 16.976562 12.882812 C 16.972656 12.925781 16.957031 12.957031 16.953125 13 L 28 13 C 28.554688 13 29 12.554688 29 12 C 29 11.445312 28.554688 11 28 11 Z M 15.425781 16 C 15.039062 16.726562 14.511719 17.402344 14 17.917969 L 14 18 L 28 18 C 28.554688 18 29 17.554688 29 17 C 29 16.445312 28.554688 16 28 16 Z M 19.1875 21 C 19.703125 21.53125 20.15625 22.183594 20.476562 23 L 28 23 C 28.554688 23 29 22.554688 29 22 C 29 21.445312 28.554688 21 28 21 Z M 19.1875 21 "/>
                        </g>
                    </svg>
                </router-link>
            </div>
        </div>
    </section>

    <section class="char error" v-else>Loading...</section>
</template>

<script>
    export default {
        name: "char",

        mounted() {
            this.$store.dispatch('setChars');
        },

        created() {
        },

        computed: {
            character() {
                return this.$store.getters.getChar(this.$route.params.charId)
            }
        }
    }
</script>

<style lang="less">
    @import "../assets/css/style.less";

    .char {
        &__wrap {
            .content;

            padding-bottom: 58px;
        }

        &__extraSaves {
            padding-top: 16px;
        }

        &__nav {
            padding: 0.55rem 0.85rem;
            text-align: center;
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: @white;
            display: flex;
            justify-content: center;
            align-items: center;
            border-top: 1px solid @lGray;

            &__item {
                color: @lGray;
                text-decoration: none;
                cursor: pointer;
                font-size: 16px;
                font-weight: 500;
                display: flex;
                justify-content: center;
                align-items: center;
                border-right: 1px solid @lGray;
                padding: 4px 8px;

                &:last-child {
                    border-right: 0;
                }

                svg {
                    width: 24px;
                    height: 24px;

                    path {
                        fill: currentColor;
                    }
                }

                &.router-link-exact-active {
                    color: @black;
                    cursor: default;
                    font-weight: 600;
                }
            }
        }
    }
</style>
