<template>
    <section v-if="true" class="chars">
        <h2>Список персонажей</h2>
        <div class="chars__list" v-if="charList">
            <router-link v-for="(char, charId) in charList" :to="'/char/'+char.id+'/main'" class="chars__item"
               :key="charId">
                <span class="chars__item-img" :style="{backgroundImage: 'url('+ charImage +')'}"></span>
                <span class="chars__item-cont">
                    <span class="chars__item-name">{{char.name}}</span>
                    <span class="chars__item-lvl">{{char.lvl}} ур.</span>
                    <span class="chars__item-class">{{char.class}}</span>
                </span>
            </router-link>
        </div>

        <div class="chars__list" v-else>Loading...</div>
    </section>
    <section v-else class="login">
        <h2>Авторизация</h2>
        <form class="login__form">
            <label class="login__label">
                <span class="login__label-name">Имя пользователя</span>
                <input class="login__input-text" type="text" id="username" placeholder="Имя пользователя">
            </label>
            <label class="login__label">
                <span class="login__label-name">Пароль</span>
                <input id="password" class="login__input-text" type="password" placeholder="Пароль">
            </label>
            <input class="login__input-btn" type="submit" value="Войти">
        </form>
    </section>
</template>

<script>
    // @ is an alias to /src
    import axios from 'axios'
    import {mapState, mapGetters, mapActions, mapMutations} from 'vuex'

    export default {
        name: 'home',
        data() {
            return {}
        },
        methods: {},

        mounted() {
            this.$store.dispatch('setChars')
        },

        computed: {
            charList() {
                return this.$store.getters.getChars
            },

            charImage: function () {
                return '/img/icons/anon.svg'
            }
        }
    }
</script>

<style lang="less" scoped>
    @import '../assets/css/style.less';

    .chars {
        .content;

        &__item {
            .css_anim;

            display: flex;
            width: 100%;
            color: @black;
            border: 1px solid #ced4da;
            padding: .55rem .85rem;
            border-radius: .25rem;
            text-decoration: none;
            margin-bottom: 8px;
            text-align: left;
            cursor: pointer;

            &:hover {
                .css_anim;

                background-color: #f4f4f4;
                box-shadow: 0 0 10px 0 rgba(0, 0, 0, .15);
            }


            &-img {
                content: '';
                display: block;
                width: 50px;
                height: 50px;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
                margin-right: .85rem;
            }

            &-cont {
                width: calc(100% - 50px - .85rem);
                display: flex;
                flex-wrap: wrap;
            }

            &-name {
                width: 100%;
                font-weight: 600;
            }

            &-lvl {
                margin-right: 8px;
            }
        }
    }

    .login {
        .content;

        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        h1 {
            text-align: center;
            margin-bottom: 36px;
        }

        &__form {
            width: 100%;
            max-width: 350px;
            margin: 0 auto;
            text-align: left;
            color: @black;
            display: flex;
            flex-direction: column;
        }

        &__label {
            margin-bottom: 16px;

            &-name {
                margin-bottom: 8px;
            }
        }

        &__input {
            &-text {
                .css_anim;

                width: 100%;
                color: @black;
                border: 1px solid #ced4da;
                padding: .55rem .85rem;
                border-radius: .25rem;
                appearance: none;

                &:focus {
                    .css_anim;

                    outline: 0;
                    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .15);
                    border-color: rgba(0, 0, 0, .15);
                }
            }

            &-btn {
                .css_anim;

                display: inline-flex;
                justify-content: center;
                align-items: center;
                margin: 24px auto 0;
                background-color: @black;
                border: 0;
                color: @white;
                appearance: none;
                cursor: pointer;
                font-weight: 400;
                text-align: center;
                white-space: nowrap;
                user-select: none;
                padding: .55rem .85rem;
                border-radius: .25rem;

                &:hover {
                    .css_anim;

                    background-color: @lBlack;
                }
            }
        }
    }
</style>
