<template>
    <div class="content char__extraSaves">
        <div class="char__extraSaves__stat"
             v-for="(charStat, statKey) in character.stats"
             :key="statKey">
            <div class="char__extraSaves__stat-initial" :class="!charStat.extra ? 'empty' : ''">
                <div class="char__extraSaves__stat-title">{{charStat.fullName}} ({{setStats(charStat)}})</div>
                <div class="char__extraSaves__stat-value">{{setSaveStats(charStat)}}</div>
            </div>
            <div class="char__extraSaves__item"
                 v-if="charStat.extra"
                 v-for="(extraSave, extraSaveKey) in charStat.extra"
                 :key="extraSaveKey">
                <img src="/img/icons/dot.svg" alt="" class="char__extraSaves__item-dot" v-if="extraSave.known">
                <div class="char__extraSaves__item-name">{{extraSave.name}}</div>
                <div class="char__extraSaves__item-value">
                    {{setExtraSave(charStat, extraSave, setProfBonus(character.lvl))}}
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "extraStats",

        methods: {
            setStats: function (charStat) {
                let statPlusValue;
                statPlusValue = Math.floor((charStat.value - 10) / 2);
                if (statPlusValue > 0) {
                    statPlusValue = '+' + statPlusValue
                }
                return statPlusValue;
            },
            setSaveStats: function (charStat) {
                let statPlusValue;
                statPlusValue = Math.floor((charStat.value - 10) / 2);
                if (statPlusValue > 0) {
                    statPlusValue = '+' + statPlusValue
                }
                return statPlusValue;
            },
            setExtraSave: function (charStat, extraSave, profBonus) {
                let statPlusValue;
                statPlusValue = Math.floor((charStat.value - 10) / 2);
                if (extraSave.known) {
                    statPlusValue = statPlusValue + parseInt(profBonus);
                }
                if (statPlusValue > 0) {
                    statPlusValue = '+' + statPlusValue
                }
                return statPlusValue;
            },
            setProfBonus: function (lvl) {
                let profBonus;
                if (lvl < 5) {
                    profBonus = 2
                } else if (lvl < 9) {
                    profBonus = 3
                } else if (lvl < 13) {
                    profBonus = 4
                } else if (lvl < 17) {
                    profBonus = 5
                } else {
                    profBonus = 6
                }

                if (profBonus > 0) {
                    profBonus = '+' + profBonus
                }
                return profBonus;
            }
        },

        computed: {
            character() {
                return this.$store.getters.getChar(this.$route.params.charId)
            }
        }
    }
</script>

<style lang="less" scoped>
    .char {
        &__extraSaves {
            max-width: 288px;
            margin: 0 auto;

            &__stat {
                border-radius: .25rem;
                margin-bottom: 8px;
                border: 1px solid #ced4da;

                &-initial{
                    border-bottom: 1px solid #ced4da;
                    padding: .55rem .85rem;
                    display: flex;
                    justify-content: space-between;

                    &.empty{
                        border-bottom: 0;
                    }
                }

                &-title {
                    font-weight: 600;
                }
            }

            &__item {
                border-bottom: 1px solid #ced4da;
                display: flex;
                align-items: center;
                width: 100%;
                padding: .55rem .85rem;
                position: relative;

                &-dot {
                    height: 8px;
                    object-fit: contain;
                    position: absolute;
                    left: -4px;
                }

                &:last-child {
                    border-bottom: 0;
                }

                &-value {
                    font-weight: 600;
                    margin-left: auto;
                }
            }
        }
    }
</style>
