<template>
    <div class="content">
        <div id="main-info" class="char__block fixed">
            <div class="char__row">
                <div class="char__class">{{character.class}} - {{character.archieType}}</div>
                <div class="char__lvl">
                    <span class="char__lvl-value">{{character.lvl}}</span> ур
                </div>
                <div class="char__exp" v-if="character.lvl < 20">
                    <span class="char__exp-value">{{character.exp}}</span>{{setExp(character.lvl)}}
                </div>
            </div>
            <div class="char__row">
                <div class="char__race">{{character.race}} ({{character.background}})</div>
                <div class="char__align">{{character.align}}</div>
            </div>
        </div>
        <div class="char__row base">
            <div class="char__hp">
                <img src="/img/icons/heart.svg" alt="">
                <div class="char__hp-now">{{character.hpNow}}</div>
                <div class="char__hp-initial">{{character.hp}}</div>
            </div>
            <div class="char__tempHp">
                <img src="/img/icons/heart-outline.svg" alt="">
                <div class="char__tempHp-value">{{character.tempHp > 0 ? character.tempHp : '0'}}</div>
            </div>
            <div class="char__pb">
                <div class="char__pb-value">{{setProfBonus(character.lvl)}}</div>
                <div class="char__pb-name">БМ</div>
            </div>
            <div class="char__armor">
                <img src="/img/icons/shield.svg" alt="">
                <div :class="[character.armorPlus > 0 ? 'char__armor-initial' : 'char__armor-value']">
                    {{character.armor}}
                </div>
                <div class="char__armor-plus" v-if="character.armorPlus > 0">{{character.armorPlus}}</div>
            </div>
            <div class="char__init">
                <div class="char__init-value">{{setBaseStats(character.stats.dex)}}</div>
                <img src="/img/icons/sword.svg" alt="">
            </div>
            <div class="char__spd">
                <div class="char__spd-value">30</div>
                <img src="/img/icons/speed.svg" alt="">
            </div>
        </div>
        <div class="char__row char__hitDice">
            <div class="char__hitDice-name">Кость хитов</div>
            <div class="char__hitDice-value">1к8{{setBaseStats(character.stats.con)}}</div>
            <div class="char__hitDice-left">{{character.lvl}}</div>
        </div>
        <div class="char__row char__pasPer">
            <div class="char__pasPer-name">пасс. Внимательность</div>
            <div class="char__pasPer-value">{{+setBaseStats(character.stats.wis) + 10}}</div>
        </div>
        <div class="char__row char__insp">
            <div class="char__insp-name">Вдохновение</div>
            <div class="char__insp-value">0</div>
        </div>
        <div class="char__row stats">
            <div class="char__stat" v-for="(charStat,statKey) in character.stats" :key="statKey">
                <div class="char__stat-name">{{charStat.name}}</div>
                <div class="char__stat-plus">{{setBaseStats(charStat)}}</div>
                <div class="char__stat-normal">{{charStat.value}}</div>
            </div>

            <div class="char__dead-or-live">
                <div class="char__dead-or-live__row">
                    <img src="/img/icons/angel.svg" alt="">
                    <label class="checkbox">
                        <input type="checkbox" class="">
                        <div>
                            <div></div>
                        </div>
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" class="">
                        <div>
                            <div></div>
                        </div>
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" class="">
                        <div>
                            <div></div>
                        </div>
                    </label>
                </div>
                <hr>
                <div class="char__dead-or-live__row">
                    <img src="/img/icons/death.svg" alt=""> 
                    <label class="checkbox">
                        <input type="checkbox" class="">
                        <div>
                            <div></div>
                        </div>
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" class="">
                        <div>
                            <div></div>
                        </div>
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" class="">
                        <div>
                            <div></div>
                        </div>
                    </label>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "mainInfo",

        methods: {
            setBaseStats: function (charStat) {
                let statPlusValue;
                statPlusValue = Math.floor((charStat.value - 10) / 2);
                if (statPlusValue > 0) {
                    statPlusValue = '+' + statPlusValue
                }
                return statPlusValue;
            },
            setSaveStats: function (charSave) {
                let statPlusValue;
                statPlusValue = Math.floor((charSave.value - 10) / 2);
                if (statPlusValue > 0) {
                    statPlusValue = '+' + statPlusValue
                }
                return statPlusValue;
            },
            setProfBonus: function (lvl) {
                let profBonus;
                if (lvl < 5) {
                    profBonus = 2
                } else if (lvl < 9) {
                    profBonus = 3
                } else if (lvl < 13) {
                    profBonus = 4
                } else if (lvl < 17) {
                    profBonus = 5
                } else {
                    profBonus = 6
                }

                if (profBonus > 0) {
                    profBonus = '+' + profBonus
                }
                return profBonus;
            },
            setExp: function (lvl) {
                let totalExp;
                lvl = parseInt(lvl);
                if (lvl === 1) {
                    totalExp = 300
                } else if (lvl === 2) {
                    totalExp = 900
                } else if (lvl === 3) {
                    totalExp = 2700
                } else if (lvl === 4) {
                    totalExp = 6500
                } else if (lvl === 5) {
                    totalExp = 14000
                } else if (lvl === 6) {
                    totalExp = 23000
                } else if (lvl === 7) {
                    totalExp = 34000
                } else if (lvl === 8) {
                    totalExp = 48000
                } else if (lvl === 9) {
                    totalExp = 64000
                } else if (lvl === 10) {
                    totalExp = 85000
                } else if (lvl === 11) {
                    totalExp = 100000
                } else if (lvl === 12) {
                    totalExp = 120000
                } else if (lvl === 13) {
                    totalExp = 140000
                } else if (lvl === 14) {
                    totalExp = 165000
                } else if (lvl === 15) {
                    totalExp = 195000
                } else if (lvl === 16) {
                    totalExp = 225000
                } else if (lvl === 17) {
                    totalExp = 265000
                } else if (lvl === 18) {
                    totalExp = 305000
                } else if (lvl === 19) {
                    totalExp = 355000
                } else {
                    totalExp = ''
                }
                if (totalExp > 0) {
                    totalExp = totalExp.toLocaleString();
                    totalExp = ' / ' + totalExp
                }

                return totalExp;
            },
        },

        computed: {
            character() {
                return this.$store.getters.getChar(this.$route.params.charId);

            }
        }
    }
</script>

<style lang="less" scoped>
    @import "../../assets/css/style.less";

    .char {
        &__block {
            padding: 8px 0;

            &.fixed {
                position: sticky;
                top: 48px;
                background-color: @white;
                z-index: 100;
                padding-bottom: 0;
                margin-bottom: 8px;
                border-bottom: 1px solid #ced4da;
            }
        }

        &__row {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 8px;

            & > * {
                margin-right: 8px;

                &:last-child {
                    margin-right: 0;
                }
            }

            &.base {
                justify-content: space-between;
                
                @media @tablet {
                    align-items: initial;
                }

                > * {
                    margin-right: 0;

                    @media @tablet {
                        margin-bottom: 0;
                    }

                    &:nth-child(n + 4) {
                        margin-bottom: 0;
                    }
                }
            }
        }

        &__name {
            margin-right: auto;
            font-weight: 600;
        }

        &__background {
            margin-right: 8px;
        }

        &__lvl {
            margin-left: auto;
            margin-right: 0;
            &-value {
                font-weight: 600;
            }
        }

        &__exp {
            display: none;
            margin-left: auto;
            &-value {
                font-weight: 600;
            }
        }
        
        &__align {
            margin-left: auto;
        }

        &__pb {
            border: 1px solid #ced4da;
            padding: 8px;
            border-radius: .25rem;
            margin-bottom: 8px;
            position: relative;
            width: calc(100% / 3 - (16px / 3.1));
            min-height: 86px;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
            @media @tablet {
                width: calc(100% / 6 - 8px);
            }
            
            > * {
                width: 100%;
            }

            &-value {
                font-size: 24px;
                font-weight: 600;
                margin-bottom: 8px;
                border-bottom: 1px solid #ced4da;
                padding-bottom: .55rem;
            }
        }

        &__spd, &__init, &__tempHp {
            border: 1px solid #ced4da;
            padding: 8px;
            border-radius: .25rem;
            margin-bottom: 8px;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: calc(100% / 3 - (16px / 3));
            min-height: 86px;
            
            @media @tablet {
                width: calc(100% / 6 - 8px);
            }

            img {
                position: absolute;
                left: 8px;
                top: 8px;
                width: 16px;
                height: 16px;
                object-fit: contain;
            }

            *:not(img) {
                position: relative;
            }

            &-value {
                font-size: 32px;
                font-weight: 600;
            }
        }

        &__pasPer, &__insp, &__hitDice {
            border: 1px solid #ced4da;
            border-radius: .25rem;
            flex-wrap: nowrap;
            width: 100%;

            &-name {
                border-right: 1px solid #ced4da;
                padding: .55rem .85rem;
                text-align: center;
                flex: 1 1 100%;
                margin: 0;
            }

            &-value {
                padding: .55rem .85rem;
                font-weight: 600;
                white-space: nowrap;
                margin: 0;
            }

            &-left {
                padding: .55rem .85rem;
                font-weight: 600;
                border-left: 1px solid #ced4da;
            }
        }

        &__stat {
            width: calc(100% / 4 - (8px * 3 / 4));
            height: 100%;
            border: 1px solid #ced4da;
            padding: .55rem .85rem;
            border-radius: .25rem;
            text-align: center;
            margin-bottom: 8px;
            
            @media @tablet {
                width: calc(100% / 8 - (8px * 7 / 8));
                margin-bottom: 0;
            }
            
            &:nth-child(n+5) {
                margin-bottom: 0;
            }

            &:nth-child(4) {
                margin-right: 0;
                
                @media @tablet {
                    margin-right: 8px;
                }
            }

            &-plus {
                font-size: 24px;
                font-weight: 600;
                margin-bottom: 8px;
                border-bottom: 1px solid #ced4da;
                padding-bottom: .55rem;
            }

            &-name{
                margin-bottom: 4px;
                font-size: 14px;
            }
        }

        &__dead-or-live {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            border: 1px solid #ced4da;
            padding: .55rem .85rem;
            border-radius: .25rem;
            height: 100%;
            width: calc(100% / 2 - (8px * 3 / 4));

            @media @tablet {
                width: calc((100% / 8 - (8px * 7 / 8)) * 2 + 8px);
            }

            &__row {
                display: flex;
                align-items: center;

                img {
                    object-fit: contain;
                    height: 28px;
                    margin: 0 1px 0 0;
                }
            }

            hr{
                width: 100%;
                border: 0;
                height: 1px;
                background: #ced4da;
                margin: .87rem 0;
            }
        }

        &__hp {
            border: 1px solid #ced4da;
            padding: 8px;
            border-radius: .25rem;
            margin-bottom: 8px;
            position: relative;
            width: calc(100% / 3 - (16px / 3));
            min-height: 86px;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
            @media @tablet {
                width: calc(100% / 6 - 8px);
            }

            > * {
                width: 100%;
            }

            img {
                position: absolute;
                left: 8px;
                top: 8px;
                width: 16px;
                height: 16px;
                object-fit: contain;
            }

            *:not(img) {
                position: relative;
            }

            &-now {
                font-size: 24px;
                font-weight: 600;
                margin-bottom: 8px;
                border-bottom: 1px solid #ced4da;
                padding-bottom: .55rem;
            }
        }

        &__armor {
            border: 1px solid #ced4da;
            padding: 8px;
            border-radius: .25rem;
            position: relative;
            width: calc(100% / 3 - (16px / 3));
            min-height: 86px;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
            @media @tablet {
                width: calc(100% / 6 - 8px);
            }

            > * {
                width: 100%;
            }

            img {
                position: absolute;
                left: 8px;
                top: 8px;
                width: 16px;
                height: 16px;
                object-fit: contain;
            }

            *:not(img) {
                position: relative;
            }

            &-initial {
                font-size: 24px;
                font-weight: 600;
                margin-bottom: 8px;
                border-bottom: 1px solid #ced4da;
                padding-bottom: .55rem;
            }

            &-value {
                font-size: 32px;
                font-weight: 600;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        &__saves {
            display: flex;
            flex-wrap: wrap;
            border: 1px solid #ced4da;
            border-radius: .25rem;

            &__title {
                width: 100%;
                border-bottom: 1px solid #ced4da;
                padding: .55rem .40rem;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                margin: 0;
            }

            &__item {
                border-bottom: 1px solid #ced4da;
                padding: .55rem .40rem;
                display: inline-flex;
                width: calc(50% - 4px);
                justify-content: flex-start;
                align-items: center;
                margin: 0;
                font-size: 14px;

                &:nth-child(even) {
                    border-right: 1px solid #ced4da;
                }

                &:last-child, &:nth-last-child(2) {
                    margin-bottom: 0;
                    border-bottom: 0;
                }

                &-value {
                    margin-left: auto;
                    font-weight: 600;
                }
            }
        }
    }
</style>
